@media screen and (max-width: 768px) {
    .navBar__redesSociales {
        background-color: map-get($colores,"background-color-secondary");
        opacity: 70%;
        position: fixed;
        right: 0;
        top: 50vh;
        @include flex(column);
        padding: 5px;
        margin-right: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        a {
            color:map-get($colores,"main-contrast-color");
            &:visited {
                color:map-get($colores,"main-contrast-color");
            } 
        }
    }

}