$colores: (
    "background-color": #161a1d,
    "background-color-secondary": #660708,
    "color-tertiary": #161a1d,
    "color-cuaternary": #0b090a,
    "color-anchor": #66070993,
    "main-contrast-color": #ffffff
);
$main-font_family: 'Lato', sans-serif;
@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: wrap;
}